
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.container {
  width: 80%;
  height: 80%;
    display: flex;
    padding-left: 80px;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.red {
  background-color: #BC243C;
  height: 25px;
  width: 100px;
}
.pink {
  background-color:#A28089;
    height: 25px;
  width: 100px;
}
.empty{
    background-color: lightgray;
      height: 25px;
  width: 200px;
}
path {fill: lightgray; stroke: white;}
path:hover {fill: gray;}
path {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Montserrat', sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#IN:hover, #CA:hover, #CO:hover, #CN:hover, #MY:hover, #NP:hover, #TH:hover, #AE:hover, #US:hover{
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 0;
}
#IN, #CA, #CO, #CN, #MY, #NP, #TH, #AE, #US{
    fill: black
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}