@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
 .hidden {
    display: none;
}
.w3-animate-opacity{animation:opac 2s}@keyframes opac{from{opacity:0} to{opacity:1}}
.show {
   display: inline;
}


.centered {
position: fixed;
text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
